.redirect {
  color: deepskyblue;
  font-weight: bold;
  text-underline: deepskyblue;
  cursor: pointer;
}

img {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
}
